html {
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
  font-size: 14px;
}

body {
  user-select: none;
  margin:0;
  padding:0;
}

.explorer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.explorer__content {
  background-color: rbg(0, 36, 81);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
}

/*
  Настройки сортировки
*/

.list-sort-settings {
  background-color: rgb(0, 23, 51);
  color: rgb(204, 204, 204);
  width: 145px;
  flex-grow: 1;
  padding: 5px 15px 0px 15px;
}

.list-sort-settings__title {
  font-size: 110%;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-sort-settings__item {
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

/*
  new-todo
*/
.new-todo {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;

  background-color: rgb(0, 28, 64);
  color: white;
  font-size: 120%;
  height: 25px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.new-todo__text-label {
  min-width: 170px;
}

.new-todo__text-input {
  flex-grow: 2;
  margin-right: 10px;
}

.new-todo__importance-text{
  min-width: 135px;
}

.new-todo__importance{
  cursor: pointer;
}

.new-todo__add {
  margin-left: 15px;
  width: 120px;
  cursor: pointer;
}

/*
  todo-list & todo-list-item
*/
.todo-list {
  background-color: rgb(0, 36, 81);
  color: rgb(196, 241, 149);
  flex-grow: 25;
}

.todo-list_empty {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 28, 64);
  color: white;
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  height: 25px;
  padding-top: 10px;
  justify-content: space-between;

  border-width: 1px;
  border-color: white;
}

.todo-list-item__text {
  flex-grow: 20;
}

.todo-list-item__text-strike-out {
  text-decoration: line-through;
}

.todo-list-item__text-grayed {
  color: rgb(204, 204, 204);
}

.todo-list-item__text-red {
  color: rgb(214, 86, 51);
}

.todo-list-item__importance {
  flex-grow: 0;
  margin-left: 20px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.todo-list-item__importance_hidden {
  visibility: hidden;
}

.todo-list-item__modify {
  margin-right: 10px;
  width: 100px;
}